# TURN Server Configuration (Required for WebRTC in production)
# Get free TURN servers from: https://www.metered.ca/tools/openrelay/ or https://xirsys.com
TURN_URL=turn:openrelay.metered.ca:80
TURN_USERNAME=openrelayproject
TURN_CREDENTIAL=openrelayproject

# Alternative TURN server (backup)
TURN_URL_2=turn:openrelay.metered.ca:443
TURN_USERNAME_2=openrelayproject
TURN_CREDENTIAL_2=openrelayproject
